<!--Courses Section-->
<div class="row">
    <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center">
        <div class="col-12">
            <input class="form-control" type="text" name="search" placeholder="Nhập từ khóa">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>
<div class="row">
    <h3>Danh sách khóa học</h3>
    <% courses.forEach(function(course){ %>
        <div class="col-sm-4 d-flex my-2">
            <div class="card flex-fill">
                <a href="/courses/<%= course.slug %>">
                    <% if(course.image) {%>
                        <img class="img-fluid img-card" src="<%= course.image %>" alt="<%= course.name %>">
                    <% } else{%>
                        <img class="img-fluid img-card" src="/assets/img/image_not_found.jpg" alt="Image not found">
                    <% }%>
                </a>
                <div class="card-body">
                    <h2>
                        <a href="/courses/<%= course.slug %>"><%= course.name %></a>
                    </h2>
                    <p>Giảng viên:
                        <a href="#"><%= course.author %></a>
                    </p>
                    <p>
                        <%= course.shortDescription %>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-info">Mua khóa học</button>
                </div>
            </div>
        </div>
    <% }); %>
</div>
<!--End Courses Section-->