<!-- ======= Read Article VnExpress Section ======= -->
<div class="alert alert-primary text-center" role="alert">
    Cập nhật lần cuối: <%= moment(update).format('LTS, DD-MM-YYYY') %>
</div>
<div class="row">
    <% items.forEach(function(item, i){ %>
        <div class="col-sm-6 col-md-4 d-flex my-2">
            <div id="item-<%= i %>" class="card flex-fill ">
                <% if(item.image === 'none') {%>
                    <img class="card-img-top w-80 img-card" src="/assets/img/image_not_found.jpg" alt="Image not found">
                <% } else{%>
                    <img class="card-img-top w-80 img-card" src="<%= item.image %>" alt="<%= item.title %>">
                <% }%>
                <div class="card-body">
                    <h5 class="card-title"><%= item.title %></h5>
                    <p class="card-text"><%= item.content %></p>
                    <p><small class="text-muted">Lúc <%= moment(item.pubDate).format('LT, DD-MM') %></small></p>
                </div>
                <div class="card-footer text-center">
                    <div class="row list-button">
                        <div class="col">
                            <button id="btn-<%= i %>" onclick= downloadImage(this,'item-<%= i %>') class="btn btn-info btn-block">Lưu ảnh</button>
                        </div>
                        <div class="col">
                            <a href="<%= item.link %>" class="btn btn-success btn-block" target="_blank">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>
<div class="alert alert-secondary text-center" role="alert">
    Số bài báo: <%= size %>
</div>
<script src="/assets/vendor/utils/dom-to-image.min.js"></script>
<script src="/assets/js/download-element.js"></script>

</script>
<!-- ======= End Read Article VnExpress Section ======= -->
